<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Details</title>
</head>
<body>
    <h1>Contact Details</h1>

    {% if contact %}
        <p><strong>Full Name:</strong> {{ contact.FullName }}</p>
        <p><strong>Phone:</strong> {{ contact.Phone }}</p>
        
        
    {% else %}
        <p>Contact not found.</p>
    {% endif %}
</body>
</html>